{% load staticfiles %}
<html>
    <head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/seedstars.css' %}">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <title>Address Book</title>
    </head>
    <body>
    <div class="custom-page-header">
        <h1><a href="/">Address Book</a></h1>
		<h4><a href="/">>>Home</a></h4>
    </div>
    <div class="content container">
	<div class="row">
	</div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>