{% extends 'seedstars/base.html' %}



{% block content %}
<h2>Welcome to address book application.</h2><br/>
This application stores and retrieves saved name/email address.
Click an option below to proceed:</br></br>
<ul><li>
	<a class='btn btn-default' style='margin-bottom:10px' href="{% url 'nameaddress_list' %}">List names/email</a><br/></li><li>
	<a class='btn btn-default' href="{% url 'nameaddress_add' %}">Add names/email</a></li></ul>
	
{% endblock %}