{% extends 'seedstars/base.html' %}

{% block content %}
<h2>List of name/email.</h2><br/>
{% for nameaddress in nameaddresses %}
    <div>
        <p><b>Id:</b> {{ nameaddress.id }}</p>
        <p><b>Name:</b> {{ nameaddress.name }}</p>
        <p><b>Email:</b> {{ nameaddress.email }}</p>
    </div>
	<hr/>
{% endfor %}
{% endblock %}