{% extends 'seedstars/base.html' %}

{% block content %}
    <div class="nameaddress-div">
       
<h1>Name/email saved</h1>
        <p><b>Id:</b> {{ nameaddress.id }}</p>
        <p><b>Name:</b> {{ nameaddress.name }}</p>
        <p><b>Email:</b> {{ nameaddress.email }}</p>
    </div>
{% endblock %}