{% extends 'seedstars/base.html' %}

{% block content %}
	<h2>Add name/email</h2><br/>
    <form method="POST" class="form-group nameaddress-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}